.parent {
    position: relative;
    width: 100%;
  }
  .one, .two {
    position: absolute;
    height: 600px;
    width: 65%;
  }
  .one {
    left: 0;
    top: 0;
    background-color: rgb(197, 231, 242); 
    -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%); 
    
  }
  .two {
    right: 0;
    top: 0;
    
    background-color: pink;
    -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%); 
  }
  .text1
  {
    margin-top: 50px;
    margin-left:50px;
    font-size:60px;
    -webkit-text-stroke: 1px #0e0d0d;
    color: transparent;
    background-image: linear-gradient(#0e0d0d,#0e0d0d);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
  }
  @keyframes backcolor
  {
    100%
    {
        background-position: 0 0;
    }
  }
  .text2
  {
    margin-left: 40px;
    font-size: 80px;
    -webkit-text-stroke: 1px #0e0d0d;
    color: transparent;
    background-image: linear-gradient(#0e0d0d,#0e0d0d);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
  }


.button-1 {
  background-color: rgb(245, 77, 77);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 180px;
  margin-top: 150px;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.dot1{
    height: 100px;
    width: 100px;
    background-color:rgb(135, 135, 241);
    border-radius: 50%;
    display: inline-block;
    margin-top: 50px;
    margin-left: 550px;
  }
.dot2
{
    height: 25px;
    width: 25px;
    background-color:rgb(135, 135, 241);
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

  


